version: '3'
#docker-compose -f ./docker-compose.yml up or docker-compose up
name: python-fn-basic-docker-api
services:
  
  jenkins:
    image: jenkins/jenkins:lts
    privileged: true
    user: root
    ports:
      - 8089:8080
      - 50000:50000
    container_name: jenkins
    volumes:
      - ~/jenkins:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/local/bin/docker:/usr/local/bin/docker

  meilisearch:
    container_name: meilisearch
    image: getmeili/meilisearch:v1.28.0
    environment:
      - http_proxy
      - https_proxy
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY:-masterKey}
      - MEILI_NO_ANALYTICS=${MEILI_NO_ANALYTICS:-true}
      - MEILI_ENV=${MEILI_ENV:-development}
      - MEILI_LOG_LEVEL
      - MEILI_DB_PATH=${MEILI_DB_PATH:-/data.ms}
    ports:
      - ${MEILI_PORT:-7700}:7700
    volumes:
      - ./data.ms:/data.ms
    restart: unless-stopped    

  # After the containers are up, ZincSearch can be accessed in a web browser at http://localhost:4080
  zincsearch:
    image: public.ecr.aws/zincsearch/zincsearch:latest
    container_name: zincsearch
    ports:
      - "4080:4080" # UI and API access
    environment:
      ZINC_FIRST_ADMIN_USER: admin
      ZINC_FIRST_ADMIN_PASSWORD: 1234qwer
      ZINC_DATA_PATH: /app/data
    volumes:
      - ./:/app/data # Persistent storage for ZincSearch data
  
  fn-es8:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.8.0
    container_name: fn-es8
    environment:
      - http.host=0.0.0.0
      - node.name=fn-dm-bees-omni-data-01
      - node.roles=[data, master]
      - cluster.name=docker-elasticsearch
      - cluster.initial_master_nodes=fn-dm-bees-omni-data-01
      - discovery.seed_hosts=fn-dm-bees-omni-data-01
      - cluster.routing.allocation.disk.threshold_enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
      - xpack.license.self_generated.type=basic
      - action.destructive_requires_name=false
      - http.port=9202
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - 9202:9202
    networks:
      - bridge

  fn-kibana8:
    image: docker.elastic.co/kibana/kibana:8.8.0
    container_name: fn-kibana8
    environment:
     ELASTICSEARCH_HOSTS: http://fn-es8:9202
     SERVER_HOSTS: 0.0.0.0
    ports:
      - 25601:5601
    networks:
      - bridge    
    depends_on:
      - fn-es8

      
  fn-basic-docker-api:
    image: fn-basic-docker-api:es
    container_name: fn-basic-docker-api
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
    ports:
      - 1888:8888
    volumes:
      - ./:/app/FN-Basic-Services
    restart: unless-stopped
    # environment:
    #   - ES_HOST=http://host.docker.internal:9203
    networks:
      - bridge
      
  fn-basic-docker-api-test:
    image: ffn-basic-docker-api:test
    container_name: fn-basic-docker-api-test
    build:
      context: .
      dockerfile: Dockerfile
      target: test
    ports:
      - 1889:8889
    volumes:
      - ./:/app/FN-Basic-Services
    # restart: unless-stopped
    # environment:
    #   - ES_HOST=http://host.docker.internal:9203
    networks:
      - bridge
      
volumes:
  data:
    driver: local
    
networks:
  bridge:
    driver: bridge